@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #131313;
}

.container {
    text-align: center;
    margin-top: 120px;
}

.title {
    font-family: Frutiger, sans-serif;
    font-size: 2rem;
    color: #fff;
}

.description {
    font-family: 'Poppins', sans-serif;
    color: #616161;
    margin-top: 10px;
    margin-bottom: 20px;
}

.highlight {
    color: #ffd27f;
    font-weight: medium;
}

.link {
    font-family: 'Poppins', sans-serif;
    color: #c43f3f;
    text-decoration: none;
}

.link:hover {
    color: #a83939;
}

@font-face {
    font-family: Frutiger;
    src: url(Frutiger-Bold\ Regular.ttf);
}
